<%- include("partials/header") %>

<!-- Breadcrumb Section -->
<section class="breadcrumb breadcrumb_bg reserve_title" style="background-image: url('/img/seats.jpg');
background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Seat Reservation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Seats Section -->
<section class="synopsis_part section_part reserve_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center">
                    <h2>Select Seats</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="seat col-sm-12 col-md-12 col-lg-7">
                <center><h3 class="text-white">SCREEN HERE</h3></center>
                <table class="table table-responsive-md text-white text-center">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    </tr>
                </thead>
                <tbody>
                    <form>
                    <tr>
                    <th scope="row" class="align-center">A</th>
                    <td class="p-1 m-0"><input class="chckbox" id="A1" name="seat" type="checkbox" value="A1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A2" name="seat" type="checkbox" value="A2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A3" name="seat" type="checkbox" value="A3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A4" name="seat" type="checkbox" value="A4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A5" name="seat" type="checkbox" value="A5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A6" name="seat" type="checkbox" value="A6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A7" name="seat" type="checkbox" value="A7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="A8" name="seat" type="checkbox" value="A8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">B</th>
                    <td class="p-1 m-0"><input class="chckbox" id="B1" name="seat" type="checkbox" value="B1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B2" name="seat" type="checkbox" value="B2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B3" name="seat" type="checkbox" value="B3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B4" name="seat" type="checkbox" value="B4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B5" name="seat" type="checkbox" value="B5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B6" name="seat" type="checkbox" value="B6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B7" name="seat" type="checkbox" value="B7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="B8" name="seat" type="checkbox" value="B8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">C</th>
                    <td class="p-1 m-0"><input class="chckbox" id="C1" name="seat" type="checkbox" value="C1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C2" name="seat" type="checkbox" value="C2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C3" name="seat" type="checkbox" value="C3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C4" name="seat" type="checkbox" value="C4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C5" name="seat" type="checkbox" value="C5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C6" name="seat" type="checkbox" value="C6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C7" name="seat" type="checkbox" value="C7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="C8" name="seat" type="checkbox" value="C8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">D</th>
                    <td class="p-1 m-0"><input class="chckbox" id="D1" name="seat" type="checkbox" value="D1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D2" name="seat" type="checkbox" value="D2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D3" name="seat" type="checkbox" value="D3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D4" name="seat" type="checkbox" value="D4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D5" name="seat" type="checkbox" value="D5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D6" name="seat" type="checkbox" value="D6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D7" name="seat" type="checkbox" value="D7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="D8" name="seat" type="checkbox" value="D8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">E</th>
                    <td class="p-1 m-0"><input class="chckbox" id="E1" name="seat" type="checkbox" value="E1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E2" name="seat" type="checkbox" value="E2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E3" name="seat" type="checkbox" value="E3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E4" name="seat" type="checkbox" value="E4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E5" name="seat" type="checkbox" value="E5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E6" name="seat" type="checkbox" value="E6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E7" name="seat" type="checkbox" value="E7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="E8" name="seat" type="checkbox" value="E8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">F</th>
                    <td class="p-1 m-0"><input class="chckbox" id="F1" name="seat" type="checkbox" value="F1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F2" name="seat" type="checkbox" value="F2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F3" name="seat" type="checkbox" value="F3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F4" name="seat" type="checkbox" value="F4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F5" name="seat" type="checkbox" value="F5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F6" name="seat" type="checkbox" value="F6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F7" name="seat" type="checkbox" value="F7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="F8" name="seat" type="checkbox" value="F8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">G</th>
                    <td class="p-1 m-0"><input class="chckbox" id="G1" name="seat" type="checkbox" value="G1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G2" name="seat" type="checkbox" value="G2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G3" name="seat" type="checkbox" value="G3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G4" name="seat" type="checkbox" value="G4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G5" name="seat" type="checkbox" value="G5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G6" name="seat" type="checkbox" value="G6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G7" name="seat" type="checkbox" value="G7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="G8" name="seat" type="checkbox" value="G8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">H</th>
                    <td class="p-1 m-0"><input class="chckbox" id="H1" name="seat" type="checkbox" value="H1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H2" name="seat" type="checkbox" value="H2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H3" name="seat" type="checkbox" value="H3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H4" name="seat" type="checkbox" value="H4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H5" name="seat" type="checkbox" value="H5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H6" name="seat" type="checkbox" value="H6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H7" name="seat" type="checkbox" value="H7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="H8" name="seat" type="checkbox" value="H8"/></td>
                    </tr>
                    <tr>
                    <th scope="row">I</th>
                    <td class="p-1 m-0"><input class="chckbox" id="I1" name="seat" type="checkbox" value="I1"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I2" name="seat" type="checkbox" value="I2"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I3" name="seat" type="checkbox" value="I3"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I4" name="seat" type="checkbox" value="I4"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I5" name="seat" type="checkbox" value="I5"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I6" name="seat" type="checkbox" value="I6"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I7" name="seat" type="checkbox" value="I7"/></td>
                    <td class="p-1 m-0"><input class="chckbox" id="I8" name="seat" type="checkbox" value="I8"/></td>
                    </tr>
                    </form>
                </tbody>
                </table>
            </div>
            <div class="seat col-sm-12 col-md-12 col-lg-1">
            </div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-white" id="legend">
                    <img src="../../img/seat.png" class="card-img-top" alt="..."><span>Available</span><br>
                    <img src="../../img/reserved.png" class="card-img-top" alt="..."><span>Reserved</span><br>
                    <img src="../../img/selected.png" class="card-img-top" alt="..."><span>Chosen Seat</span><br>
                    <p class="detail first"><span class="detail_label">Movie:</span><%= movie.title %></p>
                        <!-- Display all schedule information -->
                        <% movie.schedule.forEach(function(schedule){%>
                            <% if(schedule._id == schedule_id) {%>
                                <p class="detail"><span class="detail_label">Cinema: </span><%= schedule.cinema %></p>
                                <p class="detail"><span class="detail_label">Time: </span><%= schedule.start %> - <%= schedule.end %></p>
                                <p class="detail"><span class="detail_label">Date: </span><%= schedule.date %></p>
                                <p class="detail"><span class="detail_label">Price: </span>P<span id="price"> <%= schedule.price %></span></p>
                            <% }; %>  
                        <% }) %>
                        <!-- Get all reserved seats -->
                        <% selected = []; %>
                        <% reservations.forEach(function(reserve){%>  
                            <% reserve.seats.forEach(function(seat){%>
                                <% selected.push(seat); %>
                            <% }) %>
                        <% }) %>
                        <input type="text" hidden value="<%= selected %>" id="selected_seats">
                    <p class="detail"><span class="detail_label">Number of seats: </span><span id="count" class="resDate"></span></p><br>
                    <textarea class="form-control" id="selectedseat" rows="3" readonly value=""></textarea> 
                    <hr>
                    <!-- Botton modal trigger -->
                    <button type="button" class="btn btn-block btn_1" id="reserveMe">
                    RESERVE
                    </button>
                    <a type="button" class="btn btn-block btn_1" id="btnCancel" href="/mrs/<%= movie._id %>">
                    CANCEL
                    </a>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-white"></div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Section -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Reservation Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-danger text-lg">&times;</span>
            </button>
            </div>
            <form id="form" data-flag="0" action="/reserveticket" method="POST">
                <div class="modal-body text-white">
                    <% movie.schedule.forEach(function(schedule){%>
                        <% if(schedule._id == schedule_id) {%>
                            <input type="text" name="id" id="sched_id" hidden value="<%= schedule._id %>">
                            <p class="detail first">
                                <span class="detail_label">Movie:</span><span><%= movie.title %></span>
                                <input type="text" name="movie" hidden value="<%= movie.title %>">
                            </p>
                            <p class="detail">
                                <span class="detail_label">Cinema: </span><span><%= schedule.cinema %></span>
                                <input type="text" name="cinema" hidden value="<%= schedule.cinema %>">
                            </p>
                            <p class="detail">
                                <span class="detail_label">Time: </span><span><%= schedule.start %> - <%= schedule.end %></span>
                                <input type="text" name="time" hidden value="<%= schedule.start %> - <%= schedule.end %>">
                            </p>
                            <p class="detail">
                                <span class="detail_label">Date: </span><span><%= schedule.date %></span>
                                <input type="text" name="date" hidden value="<%= schedule.date %>">
                            </p>
                            <p class="detail">
                                <span class="detail_label">Price: </span>P
                                <span name="price" value="<%= schedule.price %>"><%= schedule.price %></span>
                            </p>
                            <p class="detail">
                                <span class="detail_label">Payment: </span>P
                                <span id="payment"></span>
                                <input type="text" name="payment" hidden id="inputpayment">
                            </p>
                            <p class="detail">
                                <span class="detail_label">Number of seats: </span>
                                <span id="modalcount"></span>
                                <input type="text" name="numSeats" hidden id="inputmodalcount">
                            </p>
                            <textarea name="seats" class="form-control" id="modalselectedseat" rows="3" readonly></textarea> <br>
                        <% } %>
                    <% }); %>
                </div>
                <div class="modal-footer clearfix">
                    <button type="submit" class="btn btn-block btn_1" id="confirm">CONFIRM</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") %>